<main text-align="top" style="color: plum;">
  <h2>Movies to Watch</h2>
<ol class="movies">
  <li  *ngFor="let movie of mv">
    {{movie.name}} <button [ngStyle]="{'font-size': '12px', 'background-color': 'skyblue', 'border-radius': '5px'}" (click)='sayHello(movie)'>watch</button><!--Event binding-->
  </li>
  
</ol>
<hr>

<h2>Watched movies</h2>
<ol class="movies">
  <li  *ngFor="let watched of watch">
    {{watched.name}} <button [ngStyle]="{'font-size': '12px', 'background-color': 'skyblue', 'border-radius': '5px'}" (click)='remove()'>Remove</button>
  </li>
  
</ol>
</main>
